* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.headerContainer {
  display: flex;
  background-color: goldenrod;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  font-weight: bolder;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 2;
  height: 10vh;
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: rgb(30, 30, 30);
  text-transform: capitalize;
}

#navBarIcon {
  width: 20px;
  margin: 10px;
  z-index: 2;
}

#navigation_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 1;
  left: 0;
  width: 100%; /* Full width */
  height: 200px; /* Full height */
  background-color: gainsboro;
  margin-top: -4vh; 
}

.close_navigation_btn {
  float: right;
  padding-right: 7.5px;
  color:rgb(95, 95, 95);
  font-size: 35px;
  font-weight: bold; 
}

.navItem {
  height: 50px;
  text-align: left;
  margin-left: 20px;
  line-height: 50px;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.listContainer {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
}

.reviewCard {
  background-color: white;
  width: 75vw;
  height: auto;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-shadow: 0 8px 12px 0 gainsboro;
}

.reviewDate {
  margin-left: auto;
  font-size: 10px;
  color: slategray;
}

.reviewVotes {
  font-size: 11px;
}

.reviewTitle {
  font-weight: bold;
}

.reviewUser {
  font-size: 11px;
  color:rgb(0, 17, 142)
}

.reviewRowFive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoriesHeader {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.categoryCard {
    background-color: white;
    width: 75vw;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    box-shadow: 0 8px 12px 0 gainsboro;
    text-align: center;
}

.categorySlug {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.categoryDesc {
  font-style: italic;
}

.individualReview {
  margin: 10vh 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}

#dynamicVotes {
  font-size: 13px;
  font-weight: bold;
}

#votingErrorMsg {
  display: none;
  width: 100%;
  height: auto;
  border: 1px solid red;
  text-align: center;
  color: red;
}